*,
*:before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: 'Montserrat';
}

#container {
    width: 100%;
    overflow: auto;
    height: 100vh;
}

h3,
h4,
h5 {
    font-size: 52px;
}

.heading-word {
    font-size: 42px;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 30px;
}

.content-area {
    overflow: auto;
    width: 80%;
    margin-right: 20px;
    margin-left: 20px;
    position: absolute;
    top: 8%;
    bottom: 8%;
    right: 5%;
    left: 5%;
}

.top-part {
    width: 100%;
    position: relative;
    padding-top: 26px;
}

.image-section img {
    position: relative;
    width: 70%;
    height: 300px;
}

.quotes {
    width: 30%;
    position: relative;
    float: right;
    bottom: 220px;
    right: 120px;
    font-size: 28px;
    font-weight: lighter;
    font-style: italic;
}

#form-content {
    position: relative;
    width: 80%;
    display: flex;
    float: left;
    left: 140px;
    bottom: 70px;
    flex-direction: row;
}

label {
    padding: 6px 5px 0 5px;
    font-weight: 400;
}

input {
    display: block;
    width: 75%;
    height: 33px;
    padding: 3px 10px;
    font-size: 1em;
    border: 2px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
}

input[type="name"],
input[type="number"] {
    background-color: #f2f2f2;
    color: #2f2e41;
}

button {
    margin-left: 8px;
}

#form-button {
    border-radius: 5px;
    background-color: #eb322e;
    color: #2f2e41;
    border: 3px solid #eb322e;
    width: 25%;
    height: 30px;
    text-align: center;
    font-weight: bold;
}

#form-button:hover {
    color: #f2f2f2;
    background: #2f2e41;
    border: 2px solid #2f2e41;
}

table {
    position: relative;
    width: 50%;
    height: 20px;
    top: 57%;
    float: left;
    left: 23%;
}

th,
td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-bottom: 2px solid #eb322e;
    border-top: 1px solid #f2f2f2;
    text-align: center;
}

td:even {
    background-color: #eb322e;
}

.weight-values,
.height-values {
    text-align: center;
}

@media (max-width: 480px) {
    body {
        font-size: 16px;
    }
    .heading-word {
        font-size: 30px;
        padding-left: 80px;
    }
    #container {
        width: 80%;
    }
    .top-part {
        padding-top: 16px;
    }
    .image-section img {
        width: 100%;
        overflow: auto;
    }
    .quotes {
        position: relative;
        float: right;
        width: 50%;
        right: 60px;
        bottom: 50px;
        font-size: 16px;
    }
    #form-content {
        display: block;
        width: 50%;
        top: 140px;
        left: 39px;
    }
    label {
        font-weight: 300;
        font-size: 12px;
    }
    input {
        width: 130%;
    }
    #form-button {
        margin-top: 10px;
        width: 50%;
    }
    table {
        position: relative;
        top: 79%;
        height: 10px;
        float: left;
        width: 30%;
    }
    th,
    td {
        padding: none;
    }
    th {
        font-size: 14px;
    }
}